@page "/"
@inject HttpClient HttpClient

<div>
    @if(Subreddit == null)
    {
        <p>Loading posts from @(Subname)...</p>
    }
    else
    {
        foreach(var post in Subreddit.Posts)
        {
            <a href="@post.Url">@post.Title</a>
            <br />
            <a href="@($"https://reddit.com{post.Permalink}")">@post.NumComments Comments</a>
            <br />
        }
    }
</div>

@functions {
    private Subreddit Subreddit { get; set; }

    private int Page { get; set; }

    private Post Post { get; set; }

    private string Subname { get; set; } = "All";

    protected async override Task OnInitAsync()
    {
        Subreddit = await HttpClient.GetJsonAsync<Subreddit>("api/Subreddit/All");
    }
}